
# Node
node_modules

# nvim
nvim/plugin/*

# Fish
fishd.*
fish/config.fish.backup
fish/fish_history
fish/fish_history
fish/fish_variables
fish/completions/
fish/conf.d/
fish/functions/nvm*
fish/functions/_nvm*
fish/themes/

