.xfce4-panel {
color: transparent;
background-color: transparent;
}

.xfce4-panel button,
.xfce4-panel .flat {
background-color: #272727;
color: #ffffff;
margin-top: 4px;
margin-bottom: 4px;
margin-left: 4px;
margin-right: 4px;
padding: 10px;
border-top-left-radius : 10px;
border-top-right-radius: 10px;
border-bottom-left-radius : 10px;
border-bottom-right-radius: 10px;
}

.xfce4-panel button:checked,
.xfce4-panel .flat:checked {
margin-top: 1px;
margin-bottom: 1px;
margin-left: 4px;
margin-right: 4px;
}

.xfce4-panel #xfce-panel-toggle-button:not(:checked) {
color: #7d7d7d;
}

.xfce4-panel .tasklist .toggle:not(:checked) {
background-color: #272727;
color: #7d7d7d;
}

/* TODO: More general selector */
#xfce4-time-out-plugin-16 * {
background-color: #272727;
color: white;
margin-top: 4px;
margin-bottom: 4px;
margin-left: 4px;
margin-right: 4px;
padding: 0px 8px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

/* Systray: xfce4-statusnotifier-plugin */
#sn-button { 
padding-top: 0px;
padding-bottom: 0px;
padding-left: 10px;
padding-right: 10px;
}
