.xfce4-pane1 {
color: transparent;
background-color: transparent;
}

.xfce4-pane1 button,
.xfce4-panel .flat {
background-color: #272727;
color: #ffffff;
margin-top: 4px;
margin-bottom: 4px;
margin-left: 4px;
margin-right: 4px;
padding: 10px;
border-top-left-radius : 1px;
border-top-right-radius: 10px;
border-bottom-left-radius : 1px;
border-bottom-right-radius: 10px;
}

.xfce4-pane1 button:checked,
.xfce4-panel .flat:checked {
margin-top: 1px;
margin-bottom: 1px;
margin-left: 4px;
margin-right: 4px;
}

/* Systray: xfce4-statusnotifier-plugin */
#sn-button { 
padding: Opx 10px;
}
